test.html
backend/angular.json
backend/karma.conf.js
backend/package.json
backend/package-lock.json
backend/README.md
backend/tsconfig.app.json
backend/tsconfig.json
backend/tsconfig.spec.json
backend/docker/docker-compose.yml
backend/src/favicon.ico
backend/src/index.html
backend/src/main.ts
backend/src/polyfills.ts
backend/src/proxy.conf.json
backend/src/styles.css
backend/src/test.ts
backend/src/app/app.component.css
backend/src/app/app.component.html
backend/src/app/app.component.spec.ts
backend/src/app/app.component.ts
backend/src/app/app.module.ts
backend/src/app/app-routing.module.ts
backend/src/app/Employee.ts
backend/src/app/employee-list/employee-list.component.css
backend/src/app/employee-list/employee-list.component.html
backend/src/app/employee-list/employee-list.component.spec.ts
backend/src/app/employee-list/employee-list.component.ts
backend/src/assets/.gitkeep
backend/src/environments/environment.prod.ts
backend/src/environments/environment.ts
web_app/src/app/Service/API/swaggerConnection.ts
