.overlay {
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 650px;
  width: 520px;
  border-radius: 5px;
  margin-top: 0px;
  margin-left: -60px;
}

.rounded-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.input-rounded {
  border-radius: 5px;
  margin: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}




mat-form-field {
  border-radius: 40px;
  width: 200px;
  margin: 5px;
}


/* button background */
button {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
  margin: 5px;
  border-radius: 15px;
}


button:hover {
  background-color: #d9d9d9;

}

button#save-button {
  margin-left: 230px;
}

.delete-button {
  display: flex;
  align-items: center;
  color: red;
}

.delete-icon {
  color: red;
}

.row {
  display: flex;
  align-items: center;
}

#save-button {
  font-size: 16px;
  padding: 10px 20px;
}


.small-field {
  width: 50px;

}

.input-field input[readonly] {
  color: #777; /* Ändern der Textfarbe für schreibgeschützte Eingabefelder */
  cursor: not-allowed; /* Ändern des Cursors für schreibgeschützte Eingabefelder */
}


