  <mat-card [ngClass]="{'overlayHidden': showOverlay}"  class="overlay">
    <mat-card-content #steckbrief>
      <div class="container">
        <div class="row">
          <img src="assets\images\profile_picture_missing.png" class="rounded-image" />
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="input-field">
            <input matInput placeholder="Vorname" [(ngModel)]="firstName">
          </mat-form-field>
          <mat-form-field appearance="fill" class="input-field">
            <input matInput placeholder="Nachname" [(ngModel)]="lastName">
          </mat-form-field>
          <mat-form-field appearance="fill" class="small-field">
            <input matInput placeholder="ID" readonly [(ngModel)]="id">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="input-field">
            <input matInput placeholder="Straße" [(ngModel)]="street">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="input-field">
            <input matInput placeholder="PLZ"  [(ngModel)]="postalCode">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="input-field">
            <input matInput placeholder="Ort" [(ngModel)]="city">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="fill" class="input-field">
            <input matInput placeholder="Telefonnummer" [(ngModel)]="phoneNumber">
          </mat-form-field>
        </div>
        <div class="row">
          <form>
            <!-- <textarea matInput placeholder="Skills"></textarea> -->
          </form>
        </div>
        <div class="row">
          <button mat-button>Löschen</button>
          <!-- <button mat-button>Aktualisieren</button> -->
          <button mat-button>Speichern</button>
        </div>
      </div>
    </mat-card-content>
  </mat-card>


