.overlay {
  transform: translate(-50%, -50%);
  z-index: 2;
  display: flex;
  position: relative;
  top: 100%; 
  left: 50%; 
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  height: 650px; 
  width: 520px; 
  border-radius: 5px;
}

.overlayHidden {
  position: absolute;
  top: -9999px;
  left: -9999px;
  z-index: -1;
}

.rounded-image {
  border-radius: 50%;
  width: 100px;
  height: 100px;
}

.input-rounded {
  border-radius: 5px;
  margin: 5px;
}

.column {
  display: flex;
  flex-direction: column;
}

.small-field {
  width: 50px;
}

.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}



/* Zaokrąglone rogi i zmniejszona szerokość pól formularza */
mat-form-field {
  border-radius: 40px;
  width: 200px;
  margin: 5px;
}


/* Lekkie szare tło pod przyciskami */
button {
  background-color: #f2f2f2;
  transition: background-color 0.3s ease;
  margin: 5px;
  border-radius: 15px;
}

/* Efekt przy najechaniu na przyciski */
button:hover {
  background-color: #d9d9d9;

}

