
<div *ngIf="showOverlay" class="overlay">
    <div class="overlay-content">
        <div class="container">
            <img src="assets\images\profile_picture_mssing.png" class="rounded-image" />
            <div class="input-wrapper">
                <!--Beispiel: https://codepen.io/meodai/pen/rNedxBa -->
                <input type="text" class="input-rounded" placeholder="Vorname">
                <input type="text" class="input-rounded" placeholder="Nachname">
                <input type="text" class="input-rounded" placeholder="Straße">
                <input type="text" class="input-rounded" placeholder="PLZ">
                <input type="text" class="input-rounded" placeholder="Ort">
                <input type="text" class="input-rounded"  placeholder="Telephonnummer">
                <input type="text" class="input-large input-rounded"  placeholder="Skills">
            </div>
          </div>
    </div>
</div>

