.search-container {
  position: relative;
  display: inline-block;
}

input {
  height: 25px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 25px;
  outline: none;
  font-size: 16px;
  width: 200px;
}

.search-icon {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  width: 20px;
  height: 20px;
  background: url('/web_app/src/assets/images/search.png') no-repeat center center;
  background-size: cover;
}
