
<div class="container">
  <div class="sidebar">
    <app-search-field></app-search-field>
    <app-sized-box></app-sized-box>
    <button (click)="onButtonClick('Button 1')">Button 1</button>
    <app-sized-box></app-sized-box>
    <button (click)="onButtonClick('Button 2')">Button 2</button>
    <app-sized-box></app-sized-box>
    
  </div>
  <div class="vertical-line"></div>
  <div class="content">
    <!-- <div *ngFor="let item of itemList" class="grid-item">{{ item }}</div> -->
      <div *ngIf="responseData">
        <table>
          <thead>
            <tr>
              <th>Vorname</th>
              <th>Nachname</th>
              <th>Straße</th>
              <th>PLZ</th>
              <th>Telephonummer</th>
              <th>Skills</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let item of responseData">
              <td>{{ item[0].firstName }}</td>
              <td>{{ item[0].lastName }}</td>   
              <td>{{ item[0].street }}</td>   
              <td>{{ item[0].postcode }}</td>   
              <td>{{ item[0].phone }}</td>   
              <td>{{ item[0].skill }}</td>   
            </tr>
          </tbody>
        </table>
      </div>
    <!-- <mat-slide-toggle>Toggle me!</mat-slide-toggle> -->
  </div>
</div>
<!-- Toolbar -->
<app-steckbrief [showOverlay]="showOverlay"></app-steckbrief>


<!-- [
    {
        "id": 1,
        "lastName": "Mustermann",
        "firstName": "Max",
        "street": "Meta-Sattler-Straße 33",
        "postcode": "27823",
        "city": "Bremen",
        "phone": "+16209218323",
        "skillSet": [
            {
                "skill": "Java",
                "id": 1
            }
        ]
    },
    {
        "id": 2,
        "lastName": "Musterfrau",
        "firstName": "Susanne",
        "street": "Bahnhofstraße 33",
        "postcode": "27823",
        "city": "Bremen",
        "phone": "+17292187323",
        "skillSet": [
            {
                "skill": "Java",
                "id": 1
            },
            {
                "skill": "Angular",
                "id": 2
            }
        ]
    }
] -->